{
    "env": {
        "test": {
            "plugins": [
                "transform-es2015-modules-commonjs",
                ["transform-react-jsx", { "pragma": "h", "useBuiltIns": true }],
                ["babel-plugin-transform-require-ignore", { "extensions": [".scss", ".sass", ".css"] }]                
            ]
        },
        "node": {
            "presets": [
                ["env", { "targets": { "node": true }, "useBuiltIns": true, "loose": true }]
            ],
            "plugins": [
                "transform-es2015-modules-commonjs",
                ["transform-react-jsx", { "pragma": "h", "useBuiltIns": true }],
                ["babel-plugin-transform-require-ignore", { "extensions": [".scss", ".sass", ".css"] }]
            ]
        },
        "browser": {
            "presets": [
                [
                    "env",
                    {
                        "modules": false,
                        "targets": {
                            "browsers": [
                                "last 2 Chrome versions",
                                "last 2 Firefox versions",
                                "last 2 FirefoxAndroid versions",
                                "last 2 Safari versions",
                                "last 2 Edge versions",
                                "last 2 iOS versions",
                                "ie >= 11",
                                "Android >= 5"
                            ]
                        },
                        "useBuiltIns": true,
                        "loose": true
                    }
                ]
            ],
            "plugins": [
                ["transform-react-jsx", { "pragma": "h", "useBuiltIns": true }],
                "lodash",
                "dedent"
            ]            
        }
    }
}
