.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 270px;
  background-color: #ccc;

  background-image: url(/static/bg-480x270.jpg);
  background-position: center center;
  background-size: cover;
}

@media (min-width: 481px) {
  .hero {
    background-image: url(/static/bg-1920x270.jpg);
  }
}
