.video-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between; */
    list-style: none;
    padding: 0;
    margin: 0;
}

.video-list__item {
    display: block;
    width: 100%;
    max-width: 350px;
    margin-bottom: 20px;
    /* width: 31%;
    min-width: 350px; */
    /* flex: 1 1 33.33333%; */
    /* flex: 1 1 33.333333%; */
}

.video-card {
    display: block;
    text-decoration: none;
    color: #333;
}

.video-card__image {
    background-color: #aaa;
    position: relative;
    padding-bottom: 56.25%;
}

.video-card__duration {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 2px 4px;
    font-size: 0.875rem;
    border-radius: 3px;
    display: inline-block;
    color: #fff;
    position: absolute;
    right: 8px;
    bottom: 8px;
}

.video-card__title {
    font-size: 1.25rem;
    font-weight: bold;
}

.video-card:hover .video-card__title, .video-card:active .video-card__title {
    text-decoration: underline;
}

.video-card__description {

}
