.site-footer {
  padding: 20px 0;
  background-color: #fff;
  border-top: 1px solid #cdcdcd;
  margin-top: 16px;
}

.site-footer__items {
  width: 100%;
  text-align: center;
  list-style: none;
  padding: 0;
  margin: 0;

  li {
    display: inline-block;
    padding: 0 12px;
  }
}
