.site-footer {
    margin-top: 32px;
    background-color: #212;
    background-color: #040143;
    color: #f1f1f1;
    text-align: center;
    padding: 24px;
}

.site-footer a[href] {
    color: #f1f1f1;
}
