@import 'reset.scss';
@import 'site-header.scss';
@import 'loader.scss';
@import 'hero.scss';
@import 'video-player.scss';
@import 'video-list.scss';
@import 'site-footer.scss';
@import 'icons.scss';
@import 'sharing.scss';

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

main {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.content-section {
  margin: 20px 20px 0;

  @media (min-width: 1200px) {
    margin: 20px 0;
  }
}

.headline-2 {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 12px;
}

.video-title {
  margin-bottom: 20px;
  line-height: 1.3;
  font-weight: bold;
  font-size: 1.5rem;
}

.markdown-generated {
  h1, h2, h3, h4, h5, h6 {
    line-height: 1.3;
    font-weight: bold;
    margin-bottom: 8px;
  }

  h1 {
    font-size: 1.3rem;
  }

  h2 {
    font-size: 1.15rem;
  }

  h3, h4, h5, h6 {
    font-size: 1rem;
  }

  p {
    margin-bottom: 12px;
  }  
}
